<div class="text-white bg-image sticky-bottom ">
  <h1>Anywhere,anytime,until you're satisfied.</h1>

  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="offset-8">
        <a class="radius_test" href="movies#index">
          動画で学ぶ
        </a>
      </div>
    </div>
  </div> 
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="offset-8">
        <a class="radius_test" href="movies#index">
          問題で学ぶ
        </a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="offset-8">
        <a class="radius_test" href="movies#index">
          音声で学ぶ
        </a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>      
