<div class="text-white bg-image sticky-bottom ">
  <h1>Anywhere,anytime,until you're satisfied.</h1>

  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="offset-7">
        <%= button_to "movies#index", method: :get do %>
          動画で学ぶ
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="offset-7">
        <%= button_to "movies#index", method: :get do %>
          問題で学ぶ
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="offset-7">
        <%= button_to "movies#index", method: :get do %>
          音声で学ぶ
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>      
