@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

body {
  background: #a9a9a9;
}
a:link { color: white}
a:visited { color: white}
a:hover { color: white}

