<div class="text-white">
  <h1>いつでも､どこでも､なんどでも</h1>
</div>




<body>
  
</body>




<br>
<div>
  <a class="navbar-brand font-weight-bold" href="/">動画で学ぶ</a>
</div>
<br>
<div>
  <a class="navbar-brand font-weight-bold" href="/">問題で学ぶ</a>
</div>
<br>
<div>
  <a class="navbar-brand font-weight-bold" href="/">音声で学ぶ</a>
</div>